In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("Weather_Data/Cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alice Springs,AU,2022-02-04 16:45:01,-23.7000,133.8833,58.55,88,3,0.00
1,1,Fortuna,US,2022-02-04 16:45:02,40.5982,-124.1573,44.65,95,100,1.99
2,2,Bredasdorp,ZA,2022-02-04 16:45:02,-34.5322,20.0403,69.28,46,33,16.11
3,3,Ilulissat,GL,2022-02-04 16:44:38,69.2167,-51.1000,15.82,57,75,23.02
4,4,Bambous Virieux,MU,2022-02-04 16:45:02,-20.3428,57.7575,80.22,94,75,13.80

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variables
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Calal the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Calal the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Calal the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.dropna().loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Bambous Virieux,MU,2022-02-04 16:45:02,-20.3428,57.7575,80.22,94,75,13.80
8,8,Rikitea,PF,2022-02-04 16:45:04,-23.1203,-134.9692,78.22,71,87,9.57
9,9,General Pico,AR,2022-02-04 16:45:04,-35.6566,-63.7568,82.27,43,100,4.68
11,11,Saldanha,ZA,2022-02-04 16:42:24,-33.0117,17.9442,75.25,68,0,23.64
14,14,Phangnga,TH,2022-02-04 16:45:05,8.4509,98.5298,77.11,84,42,4.36
17,17,Puerto Ayora,EC,2022-02-04 16:45:06,-0.7393,-90.3518,78.76,87,42,5.01
21,21,Hithadhoo,MV,2022-02-04 16:43:55,-0.6000,73.0833,82.29,73,50,11.32
26,26,Marrakesh,MA,2022-02-04 16:45:08,31.6315,-8.0083,78.87,22,40,3.44
29,29,Soyo,AO,2022-02-04 16:45:09,-6.1349,12.3689,79.99,68,95,8.01
31,31,Itarema,BR,2022-02-04 16:45:09,-2.9248,-39.9167,83.32,67,100,14.83

In [12]:
preferred_cities_df.count()

City_ID       168
City          168
Country       168
Date          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
# Create DataFram called hotel_df to store hotel names along with city, country, max tempk, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4   Bambous Virieux      MU     80.22 -20.3428   57.7575
8           Rikitea      PF     78.22 -23.1203 -134.9692
9      General Pico      AR     82.27 -35.6566  -63.7568
11         Saldanha      ZA     75.25 -33.0117   17.9442
14         Phangnga      TH     77.11   8.4509   98.5298
17     Puerto Ayora      EC     78.76  -0.7393  -90.3518
21        Hithadhoo      MV     82.29  -0.6000   73.0833
26        Marrakesh      MA     78.87  31.6315   -8.0083
29             Soyo      AO     79.99  -6.1349   12.3689
31          Itarema      BR     83.32  -2.9248  -39.9167

In [17]:
# Parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

# Iterate through the DatFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Bambous Virieux,MU,80.22,-20.3428,57.7575,Casa Tia Villa
8,Rikitea,PF,78.22,-23.1203,-134.9692,People ThankYou
9,General Pico,AR,82.27,-35.6566,-63.7568,Euskadi Hotel
11,Saldanha,ZA,75.25,-33.0117,17.9442,Blue Bay Lodge
14,Phangnga,TH,77.11,8.4509,98.5298,Sunimit Mansion
...,...,...,...,...,...,...
570,Olinala,MX,77.13,17.8333,-98.8500,
571,Olinda,BR,87.53,-8.0089,-34.8553,Hotel Albergue de Olinda
573,Ituporanga,BR,78.53,-27.4144,-49.6025,Hotel Jacaré
576,Kidal,ML,75.74,18.4411,1.4078,
580,Luwuk,ID,76.91,-0.9516,122.7875,Hotel Santika Luwuk

In [19]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))