## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,5,Rikitea,PF,78.58,scattered clouds,-23.1203,-134.9692,People ThankYou
1,8,Iquitos,PE,82.44,broken clouds,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
2,13,Inirida,CO,80.37,broken clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
3,28,Hithadhoo,MV,82.69,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,36,Sao Gabriel Da Cachoeira,BR,78.60,scattered clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro

In [3]:
preferred_cities_df = vacation_df.loc[(vacation_df["Max Temp"] <= 90) & 
                                      (vacation_df["Max Temp"] >= 40)]
preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,5,Rikitea,PF,78.58,scattered clouds,-23.1203,-134.9692,People ThankYou
1,8,Iquitos,PE,82.44,broken clouds,-3.7481,-73.2472,Casa Morey Hotel & Restaurant
2,13,Inirida,CO,80.37,broken clouds,3.8653,-67.9239,Fuente del Guania Hotel de Lujo
3,28,Hithadhoo,MV,82.69,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,36,Sao Gabriel Da Cachoeira,BR,78.60,scattered clouds,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
5,38,Santa Helena,BR,82.20,overcast clouds,-2.2311,-45.3000,Turi Plaza Hotel
6,45,Puerto Ayora,EC,84.16,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,47,Bathsheba,BB,83.01,few clouds,13.2167,-59.5167,Atlantis Hotel
8,48,Hermanus,ZA,88.90,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
9,49,Conde,BR,87.26,broken clouds,-7.2597,-34.9075,Pousada Beija Flor

In [4]:
preferred_cities_df.count()

City_ID            203
City               203
Country            203
Max Temp           203
Current Weather    203
Lat                203
Lng                203
Hotel Name         187
dtype: int64

In [5]:
clean_hotel_df = preferred_cities_df.dropna()

In [6]:
clean_hotel_df.count()

City_ID            187
City               187
Country            187
Max Temp           187
Current Weather    187
Lat                187
Lng                187
Hotel Name         187
dtype: int64

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
clean_hotel_df.loc[clean_hotel_df['City'] == 'Isla Mujeres']

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
46,185,Isla Mujeres,MX,78.85,scattered clouds,21.2311,-86.731,Hotel La Joya Isla Mujeres

In [67]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[89]
vacation_end = vacation_df.loc[89]
vacation_stop1 = vacation_df.loc[92]
vacation_stop2 = vacation_df.loc[120] 
vacation_stop3 = vacation_df.loc[201] 
vacation_stop3

City_ID                         700
City                  Puerto Madero
Country                          MX
Max Temp                       84.4
Current Weather           clear sky
Lat                         14.7208
Lng                        -92.4215
Hotel Name         Hospedaje madero
Name: 201, dtype: object

In [68]:
vacation_start_df = vacation_df.loc[vacation_df['City'] == 'Acapulco']
vacation_end_df = vacation_df.loc[vacation_df['City'] == 'Acapulco']
vacation_stop1_df = vacation_df.loc[vacation_df['City'] == 'Tecoanapa']
vacation_stop2_df = vacation_df.loc[vacation_df['City'] == 'Puerto Escondido']
vacation_stop3_df= vacation_df.loc[vacation_df['City'] == 'Puerto Madero']
vacation_stop3_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
201,700,Puerto Madero,MX,84.4,clear sky,14.7208,-92.4215,Hospedaje madero

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
print(stop3)

[700 'Puerto Madero' 'MX' 84.4 'clear sky' 14.7208 -92.4215
 'Hospedaje madero']

In [47]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
acapulco = (16.86, -99.89)
tecoanapa = (16.52, -98.75)
puerto_escondido = (15.85, -97.07)
puerto_madero = (14.72, -92.42)

fig = gmaps.figure()
stops = gmaps.directions_layer(acapulco, acapulco, waypoints=[tecoanapa, puerto_escondido, puerto_madero], 
                              travel_mode='DRIVING')
fig.add_layer(stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df, vacation_end_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,325,Acapulco,MX,80.42,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,334,Tecoanapa,MX,80.38,clear sky,16.5167,-98.7500,Hotel Manglares
2,438,Puerto Escondido,MX,81.73,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,700,Puerto Madero,MX,84.40,clear sky,14.7208,-92.4215,Hospedaje madero
4,325,Acapulco,MX,80.42,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))